---
import '../styles/global.css';
import Layout from '../layouts/Layout.astro';
import TextBox1 from '../components/TextBox1.astro';
import Gallery1 from '../components/Gallery1.astro';
import TeamPage from '../components/TeamPage.astro';
import TitlePage from '../components/TitlePage.astro';
import Footer from '../components/Footer.astro';

// TODO: Add constants here or move them to another file?

const supportedEvents = [
  {
    link: 'https://futrolajki.pl/',
    alt: 'futrolajki',
    image: '/images/partners_events/futrolajki.webp'
  },
  {
    link: 'https://furpile.pl/',
    alt: 'furpile',
    image: '/images/partners_events/furpile.webp'
  }
];

const partners = [
  {
    link: 'https://www.facebook.com/StowarzyszeniePrzyjazneKielce/',
    alt: '"przyjazne-kielce',
    image: '/images/partners_events/przyjaznekielce.webp'
  },
  {
    link: 'https://futrolajki.pl/',
    alt: 'futrolajki',
    image: '/images/partners_events/futrolajki.webp'
  },
  {
    link: 'https://furpile.pl/',
    alt: 'furpile',
    image: '/images/partners_events/furpile.webp'
  },
  {
    link: 'https://owo.org.pl/',
    alt: 'furpile',
    image: '/images/partners_events/owo.webp'
  }
];
---

<Layout
    title="FoxCons - Landing Page"
    desc="Innowacyjny i nowoczesny system zarządzania konwentami i innymi wydarzeniami"
>

  <TitlePage slot="title-page" desc="Innowacyjny i nowoczesny system zarządzania konwentami i innymi wydarzeniami">
    <img slot="logo" alt="FoxCons logo" class="h-48 animate-in slide-in-from-bottom fade-in-0 duration-500" src="/favicon.svg"/>
    <h1 slot="name"
        class="font-bold text-6xl text-blue-900 delay-500 animate-in slide-in-from-bottom fade-in-0 duration-500 fill-mode-both">
      FOXCONS</h1>
  </TitlePage>

  <!--  <h1 class='font-bold text-5xl text-center mt-8 md:mt-16'>Słowem wstępu</h1>-->
  <TextBox1 title="Czym jest FoxCons?">
    <p>
      Jest to nowoczesny, innowacyjny system do kompleksowego zarządzania konwentami, oraz innego rodzaju wydarzeniami.
      Ułatwia on przeprowadzanie rejestracji, sprzedaż biletów/wejściówek, generowanie identyfikatorów, prowadzenie
      statystyk
      czy zarządzanie miejscami w hotelu co znacznie usprawnia organizacje imprez.</p>
    <p>
      Dzięki nowoczesnemu podejściu pozwala on szybko i docelowo nawet osobom z niewielką wiedzą techniczną, stworzyć
      stronę własnego wydarzenia.
    </p>
    <p>
      System jest skalowany oraz szybki przy czym wymaga minimalnych zasobów, nie wymaga on do działania bardzo
      wydajnych serwerów co znacząco może zredukować koszty utrzymana systemu, został napisany z wykorzystaniem
      nowoczesnych frameworków oraz technologi, a ponadto ciągle się rozwija pod
      okiem profesjonalnych, zapalonych do pracy programistów.
      Planowane jest wydanie go w systemie OpenSource co pozwoli każdemu go modyfikować i rozwijać.
    </p>
    <p>
      Jeżeli poszukujesz czegoś do skutecznego oraz szybkiego do zarządzania wydarzeniami FoxCons zdecydowanie jest
      czymś w sam raz
      dla ciebie! Serdecznie zapraszamy do kontaktu!
    </p>
  </TextBox1>

  <!--  Events Section -->
  <Gallery1 title="Aktualnie obsługiwane wydarzenia" data={supportedEvents}/>

  <!-- Team 2137 zigi kiedy newsy FOR NOW STATIC -->
  <TeamPage/>

  <!--  Partners Section -->
  <Gallery1 title="Partnerzy" data={partners}/>

  <Footer slot="footer" appName="FoxCons" contact="contact@foxcons.pl">
    <!--<a href="a" slot="additionalAuthors">Test</a>-->
  </Footer>

</Layout>

<script src="../scripts/main.js"/>
