<div class="mt-12 md:mt-16 flex justify-center">
  <div class="mx-6 grow max-w-7xl flex flex-col flex-wrap sm:gap-4">
    <h1 class="font-bold text-5xl text-center">Trochę o twórcach</h1>
    <div class="flex flex-col gap-8 sm:gap-4 sm:mx-4 mt-12">
      <!--   Items     -->
      <div class="flex flex-col md:flex-row justify-between gap-4 md:gap-10 items-center">
        <img class="w-full md:w-1/3 rounded-2xl" alt="pysiek" src="/images/creators/pyza.webp"/>
        <div class="md:w-2/3">
          <h3 class="text-2xl font-bold">Pysiek - Koordynator Projektu</h3>
          <p class="mt-2">Wział na swoje barki pozbieranie zespołu pasjonatów którzy wspólnie stworzyli coś wielkiego.
            Koordynował on osobami w projekcie, przydzielał
            zadania, ustalał spotkania oraz kreował obraz który reszta przelała "na papier". Wraz ze swoim
            stowarzyszeniem, wziął na barki prawną odpowiedzialność nad
            projektem.</p>
        </div>
      </div>
      <div class="flex flex-col md:flex-row-reverse justify-between gap-4 md:gap-10 items-center">
        <img class="w-full md:w-1/3 rounded-2xl" alt="seti" src="/images/creators/seti.webp"/>
        <div class="md:w-2/3">
          <h3 class="text-2xl font-bold">Seti - Back-end</h3>
          <p class="mt-2">Główny programista który swoim doświadczeniem budował całą ekipę. Pełny pomysłów i
            rozwiązań. Podnosił całą ekipę na duchu.</p>
        </div>
      </div>

      <div class="flex flex-col md:flex-row justify-between gap-4 md:gap-10 items-center">
        <img class="w-full md:w-1/3 rounded-2xl" alt="rakso" src="/images/creators/rakso.webp"/>
        <div class="md:w-2/3">
          <h3 class="text-2xl font-bold">Rakso - Front-end/Back-end</h3>
          <p class="mt-2">Jego zadaniem było napisanie i sklejenie frontendu z backendem oraz nadanie frontowi
            jakiejkolwiek funkcjonalności i użyteczności. Po za tym zapalony
            fan programowania, elektroniki i wszystkiego co ma związek z informatyką.</p>
        </div>
      </div>
      <div class="flex flex-col md:flex-row-reverse justify-between gap-4 md:gap-10 items-center">
        <img class="w-full md:w-1/3 rounded-2xl" alt="zigi" src="/images/creators/znerd.webp"/>
        <div class="md:w-2/3">
          <h3 class="text-2xl font-bold">Z-Grate - Koordynator</h3>
          <p class="mt-2">Próbuję sklecić i koordynować działanie projektu tak, żeby jakoś to chodziło. Czasami coś
            programuje, czasami napisze jakieś teksty, a czasami po prostu
            przyniesie tosty dla reszty teamu, żeby każdemu się pracowało.</p>
        </div>
      </div>
      <!--   Items end   -->
    </div>
    <h1 class="font-bold text-3xl text-center mt-12 sm:mt-20">Również dziękujemy za pomoc</h1>
    <div class="mt-2 mx-auto flex flex-col gap-2 max-w-5xl text-lg">
      <p class=""><span class="font-bold">Assalt</span> - za pomoc w konfiguracji serwerów pierwszej wersji</p>
      <p class=""><span class="font-bold">Moog</span> - za pomoc w znalezieniu bugów z biblioteką i pomoc z domenami
      </p>
      <p class=""><span class="font-bold">Baki, Jim</span> - za grafiki i stylowanie pierwszej wersji strony</p>
    </div>
  </div>
</div>