<div class="min-h-screen flex flex-col justify-between bg-gradient-to-tr from-sky-300 to-sky-600 text-black">
  <div class="grow justify-center flex items-center flex-col items-center gap-2">
    <img alt="FoxCons logo" class="h-48 animate-in slide-in-from-bottom fade-in-0 duration-500" src="/favicon.svg"/>
    <h1 class="font-bold text-6xl text-blue-900 delay-500 animate-in slide-in-from-bottom fade-in-0 duration-500 fill-mode-both">
      FOXCONS</h1>
    <p class="text-xl max-w-2xl mx-2 text-center delay-700 animate-in slide-in-from-bottom fade-in-0 duration-300 fill-mode-both">
      Innowacyjny i nowoczesny system zarządzania
      konwentami i innymi wydarzeniami</p>
    <a class="sm:hidden flex flex-row gap-1.5 mt-2 bg-accent-blue rounded-2xl px-3 py-2.5 text-white animation-delay-1000 animate-in slide-in-from-bottom fade-in-0 duration-700 fill-mode-backwards"
       href="#start">Zobacz więcej
      <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
        <path fill="currentColor" d="M11 4h2v12l5.5-5.5l1.42 1.42L12 19.84l-7.92-7.92L5.5 10.5L11 16V4Z"/>
      </svg>
    </a>
  </div>
  <div
      class="hidden sm:flex flex-col items-center mb-2 animation-delay-1500 animate-in slide-in-from-bottom fade-in-0 duration-700 fill-mode-backwards">
    <!--   TODO: Animate Bounce cause some weird styles behawior???   -->
    <a aria-label="start" class="bg-accent-blue rounded-full p-1 text-white animate-bounce" href="#start">
      <svg xmlns="http://www.w3.org/2000/svg"
           width="32"
           height="32"
           viewBox="0 0 24 24"
           stroke-width="2"
           stroke="currentColor"
           fill="none"
           stroke-linecap="round"
           stroke-linejoin="round">
        <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
        <path d="M12 5l0 14m6 -6l-6 6m-6 -6l6 6"></path>
      </svg>
    </a>
  </div>
</div>